*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primary-bar:#0185fd;
    --demo-light:#b5ddff;
    --strategic-purple:#9792e4;
    --write-dark:#5d7082;
    --write-free:#fdc05e;
    --darkest:#323233;
}

.container{
    width: 85%;
    margin: auto;
}

.row{
    display: flex;
}

.column{
    flex-direction: column;
}

.space_between{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.center{
    text-align: center;
}

.space{
    padding-top: 25px;
    padding-bottom: 25px;
}

.light-blue{
    background-color: var(--demo-light);
}

.blue{
    color: var(--primary-bar);
}

.dark{
    color: var(--write-dark);
}

/* site header */

#site_header{
    background-color: var(--primary-bar);
    height: auto;
    padding: 10px 0;
    
}


#site_main{
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.big-card{
    width: 100%;
    border-radius: 30px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 40px;
}

.text_big_card{
    >h3{
        font-size: 25px;
        padding: 40px 0;
    }
    & >p{
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 40px;
 }
}

.btn_app{
    background-color: var(--primary-bar);
    padding: 10px 80px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    >i{
        padding-right: 5px;
    }
}

.phone>img{
    display: block;
    width: 100%;
    padding: 50px 40px 0px 40px;
}

.small-card{
    width: 100%;
    border-radius: 30px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 40px;

    >p{
        font-weight: bold;
        padding-bottom: 40px;
    }
}

#strategic{
    background-color: var(--strategic-purple);
    height: auto;
    padding-bottom: 80px;
}

.plan-1{
    >img{
        display: block;
        width: 100%;
        padding: 80px 0;
    }
}

.text-strategic{
    >h2{
        font-size: 40px;
        color: white;
        font-weight: bold;
    }
    & > p{
        color: white;
        font-weight: bold;
        padding: 60px 0;
    }
}

.develop{
    background-color: white;
    width: 100%;
    border-radius: 30px;
    padding: 0px 15px 0px 15px;
    

    > img{
        display: block;
        width: 100%;
        padding: 30px 0; 
    }

}

.text-develop{
    padding-bottom: 30px;
    >h3{
        font-weight: 700;
        font-size: 25px;
        padding-bottom: 30px;
    }
}

.arrow{
    padding: 40px 0;
    >i{
        background-color: var(--strategic-purple);
        border-radius: 50%;
        padding: 15px 20px; 
        color: #292649;
        font-size: 20px;
    }
}