*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primary-bar:#0185fd;
    --demo-light:#b5ddff;
    --strategic-purple:#9792e4;
    --write-dark:#5d7082;
    --write-free:#fdc05e;
    --darkest:#323233;
}

.container{
    width: 85%;
    margin: auto;
}

.row{
    display: flex;
}

.gap{
    gap: 30px;
}

.wrap{
    flex-wrap: wrap;

}
.column{
    flex-direction: column;
}

.space_between{
    justify-content: space-between;
}

.center{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.cal-md-8{
    width: calc((100%/12)*8);
}

.cal-lg-4{
    width: calc((100%/12)*4);
}

#site_header{
    background-color: var(--primary-bar);
    height: auto;
    padding: 10px 0;
    
}

#demo{
    margin-top: 80px;
    margin-bottom: 80px;
}

.big-card{
    background-color: var(--demo-light);
    border-radius: 30px;
    height: 300px;
    width: auto;
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.small-card{
    background-color: var(--demo-light);
    border-radius: 30px;
    height: 300px;
    width: auto;
    margin-right: 20px;
    padding: 10px 20px;
}

#strategic{
    background-color: var(--strategic-purple);
    height: 600px;
}

.planning{
    padding: 100px 0;
}
.left-strate{
    width: 48%;
    height: 400px;
    background-color: var(--demo-light);
}

.right-strate{
    width: 48%;
    height: 400px;
    background-color: var(--demo-light);
}

#testimonials{
    height: 1200px;
    margin-top: 80px;
    padding: 0px 100px;
    text-align: center;
}

.photo-card{
    background-color: var(--strategic-purple);
    height: 250px;
    border-radius: 30px;
}

.left-photo{
    width: 35%;
    padding: 25px 20px ;
    >img{
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
}

.text-photo{
    text-align: left;
    padding: 0 50px 0 5px; 
    
}

#benefit{
    background-color: var(--strategic-purple);
    height: 800px;
    padding-top: 100px;
    margin-bottom: 80px;
}

.ben-small-card{
    background-color: var(--demo-light);
    border-radius: 30px;
    height: 300px;
    width: auto;
    margin-right: 30px;
    padding: 10px 20px;
    margin-bottom: 30px;
}

#about{
    height: 600px;
    margin-bottom: 80px;
}

.left-about{
    width: 60%;
    height: 400px;
    background-color: var(--demo-light);
}

.right-about{
    width: 38%;
    height: 400px;
    background-color: var(--demo-light);
}

#started{
    background-color: var(--strategic-purple);
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.free{
    text-align: center;
    width: 60%;
    margin: auto;
}

#site_footer{
    background-color: var(--darkest);
    height: auto;
    padding-top: 50px;
    padding-bottom: 10px;
}

.foot{
    text-align: center;
    width: 60%;
    margin: auto;
}